@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-background text-white;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}

.btn {
  @apply px-2 py-2 text-center border-2 border-white bg-background text-white font-medium focus:outline-0 active:bg-white active:text-background;
}

.wrapper {
  @apply max-w-xl mx-auto;
}
